#! /usr/bin/env ansible-playbook -i hosts -vvvv

---
- hosts: all
  vars:
    homebrew_packages:
      - zsh
      - tmux
      - neovim
      - git
      - ripgrep
      - ansible
    homebrew_cask_apps:
      - google-chrome
      - iterm2
      - insync
      - vmware-horizon-client
      - virtualbox
      - vagrant
      - spotify
      - pocket-casts
      - sublime-text
      - kindle
      - visual-studio-code
      - microsoft-office
      - bartender
    mas_installed_apps:
      - { id: 568494494, name: "Pocket" }
      - { id: 441258766, name: "Magnet" }
  roles:
    - geerlingguy.mas
  tasks:
    - name: Install homebrew packages
      homebrew:
        name: '{{ item }}'
        state: latest
      loop: '{{ homebrew_packages }}'
    - name: Install homebrew apps
      homebrew_cask:
        name: '{{ item }}'
        state: installed
        accept_external_apps: True
      loop: '{{ homebrew_cask_apps }}'
    - name: brew cleanup
      shell: brew cleanup
    - name: Clear package cache
      shell: rm -fr $(brew --cache)

